{% extends "tinkoff/tinkoff_base.html" %}

{% block title %}Расходы{% endblock %}

{% block head %}
    <!-- Календарь -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--Изменяемые столбцы -->
    <script src="https://cdn.jsdelivr.net/gh/dobtco/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dobtco/jquery-resizable-columns@0.2.3/dist/jquery.resizableColumns.css">

    <!--Выпадающие списки в таблице -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    {% if is_miniapp %}
        <style>
            .header-title {
                display: none;
            }

            .content-container {
                padding-top: 0px;
            }

            .toast {
                margin-top: 20px;
            }

            .content-blocker {
                top: 0px;
            }

            #toast-container {
                top: 10px
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    {% if not is_miniapp %}
        <div class="menu-wrapper">
            <!-- Кнопка-гамбургер -->
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>

            <!-- Боковое меню -->
            <div id="sideMenu" class="side-menu">
                <button class="close-btn" onclick="toggleMenu()">&times;</button>
                <ul>
                    <li><button onclick="loginToTinkoff()">Войти в Тинькофф</button></li>
                    <li><button onclick="resetTinkoffSession()">Сбросить текущую сессию</button></li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div id="overlay" class="overlay"></div>

    <h2>Ваши расходы</h2>
    <p id="totalExpenses">Общая сумма расходов: 0 ₽</p>

    {% if is_miniapp %}
        <p id="date"></p>
    {% endif %}


    {% if not is_miniapp %}
        <!-- Выпадающий список для выбора периода -->
        <div style="position: relative;">
            <button id="periodButton" onclick="togglePeriodOptions()">Этот месяц</button>
            <div id="periodOptions" class="period-options">
                <button onclick="loadExpensesByDefaultPeriod('day'); setPeriodLabel('Сегодня')">Сегодня</button>
                <button onclick="loadExpensesByDefaultPeriod('week'); setPeriodLabel('Текущая неделя')">Текущая неделя</button>
                <button onclick="loadExpensesByDefaultPeriod('month'); setPeriodLabel('Этот месяц')">Этот месяц</button>
                <button onclick="loadExpensesByDefaultPeriod('3month'); setPeriodLabel('3 месяца')">3 месяца</button>
                <button onclick="loadExpensesByDefaultPeriod('year'); setPeriodLabel('Этот год')">Этот год</button>
            </div>
        </div>

        <div style="margin-top: 15px;">
            <label for="dateRange">Выберите период:</label>
            <input id="dateRange" type="text" placeholder="Выберите период" />
        </div>

        <div style="margin-top: 12px;margin-bottom: 10px;">
            <label for="cardFilter">Фильтр по картам:</label>
            <select id="cardFilter" style="width: 200px;"></select>
        </div>

        <div class="download_selection">
            <label class="radio-option">
                <input type="radio" name="dataSource" value="db" checked onchange="setDataSource('db')">
                <span class="custom-radio"></span>
                Загружать из базы
            </label>
            <label class="radio-option">
                <input type="radio" name="dataSource" value="tinkoff" onchange="setDataSource('tinkoff')">
                <span class="custom-radio"></span>
                Загружать с Тинькофф
            </label>
        </div>

        <button onclick="saveKeywords()">Сохранить изменения</button>
    {% endif %}

    <div class="table-wrapper">
        <div class="table-container">
            <table id="expensesTable" class="expenses-table resizable">
                <thead>
                    <tr>
                        {% if not is_miniapp %}
                        <th>Дата и время</th>
                        <th>Карта</th>
                        {% endif %}
                        <th>Сумма</th>
                        <th>Описание</th>
                        <th>Статья</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    {% if not is_miniapp %}
        <!-- Пагинация -->
        <div style="margin-top: 20px; margin-bottom: 15px; padding-bottom: 50px;">
            <div id="paginationRowCount">
                <label for="itemsPerPageSelect">Строк на странице:</label>
                <select id="itemsPerPageSelect" class="select2">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div id="paginationControls">
                <!-- Контролы для смены страниц добавляются динамически из renderPaginationControls -->
            </div>
        </div>
    {% endif %}

    {% if is_miniapp %}
        <div id="footer-save" style="display: none; position: fixed; bottom: 0; width: 100%; background: white; border-top: 1px solid #ccc; text-align: center;">
            <button style="margin-bottom: 15px;" onclick="saveKeywords()">Сохранить изменения</button>
        </div>
    {% endif %}

    <div id="toast-container"></div>
    <div id="error-message" style="display: none;">
        {{ error_message }}
    </div>
    <div id="expenses" style="display: none;">
        {{ expenses }}
    </div>
    <div id="redirect_url" style="display: none;">
        {{ redirect_url }}
    </div>
    <div id="app" data-miniapp="{{ is_miniapp | lower }}"></div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/tinkoff/expenses.js" defer></script>
    <script src="/static/scripts/tinkoff/expenses_calendar.js" defer></script>
    <script src="/static/scripts/tinkoff/load_expenses.js" defer></script>
    <script src="/static/scripts/tinkoff/expense_manager.js" defer></script>
{% endblock %}