{% extends "tinkoff/tinkoff_base.html" %}

{% block title %}Расходы{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
{% endblock %}


{% block content %}
    <h1>Ваши расходы</h1>
    <h2 id="totalExpenses">Общая сумма расходов: 0 ₽</h2>
    <h2 id="totalIncome">Общая сумма доходов: 0 ₽</h2>

    <!-- Кнопка для выбора периода -->
    <button onclick="showPeriodOptions()">Выбрать период</button>
    <div id="periodOptions" class="period-options">
        <button onclick="loadDayExpenses()">Сегодня</button>
        <button onclick="loadExpensesByDefaultPeriod('week')">Текущая неделя</button>
        <button onclick="loadExpensesByDefaultPeriod('month')">Этот месяц</button>
        <button onclick="loadExpensesByDefaultPeriod('3month')">3 месяца</button>
        <button onclick="loadExpensesByDefaultPeriod('year')">Этот год</button>
        <button onclick="customDatePicker()">Указать период...</button>
    </div>

    <div>
        <label for="dateRange">Выберите период:</label>
        <input id="dateRange" type="text" placeholder="Выберите период" />
    </div>

    <table id="expensesTable">
        <thead>
            <tr>
                <th>Дата и время операции</th>
                <th>Карта</th>
                <th>Тип операции</th>
                <th>Сумма</th>
                <th>Описание</th>
                <th>Статья</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Поле для добавления категории, скрытое по умолчанию -->
    <div id="addCategorySection" style="display:none;">
        <form id="addCategoryForm">
            <input type="text" id="categoryName" placeholder="Название категории" required>
            <input type="text" id="keywords" placeholder="Ключевые слова (через запятую)">
            <button type="submit">Добавить категорию</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/tinkoff/expenses.js" defer></script>
{% endblock %}