{% extends "tinkoff/login_base.html" %}

{% block title %}Введите временный код{% endblock %}

{% block input_label %}Введите временный код:{% endblock %}

{% block input_type %}number{% endblock %}

{% block content %}
    <h2 id="form-title" data-name="{{ name }}" style="margin-top: 20px;">Здравствуйте, {{ name }}!</h1>
    {{ super() }}

    <button class="action-button" type="button" id="reset-button" style="margin-top: 10px;">Я не {{ name }}</button>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="/static/scripts/tinkoff/login_otp.js" defer></script>
{% endblock %}