{% extends "tinkoff/tinkoff_base.html" %}

{% block head %}
    {% if is_miniapp %}
        <style>
            .header-title {
                display: none;
            }

            .content-container {
                padding-top: 0px;
            }

            .toast {
                margin-top: 20px;
            }

            .content-blocker {
                top: 0px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Ввод информации -->
    <div class="input-wrapper">
        <input-control label="{% block input_label %} {% endblock %}" type="{% block input_type %} {% endblock %}"></input-control>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/scripts/tinkoff/controls/inputControl.js" defer></script>
{% endblock %}