{% extends "tinkoff/tinkoff_base.html" %}

{% block title %}Спасибо за вход{% endblock %}

{% block head %}
    <style>
        .disconnect-button {
            display: none;
        }

        #thanks {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            position: absolute; /* или fixed, если нужно закрепить */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
        }
        .header-title {
            display: none;
        }

        .content-container {
            padding-top: 0px;
        }

        .toast {
            margin-top: 20px;
        }

        .content-blocker {
            top: 0px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="thanks">
        <label>Спасибо за вход, автозагрузка возобновится в ближайшее время!</label>
    </div>    
{% endblock %}
