<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tinkoff_style.css">
    <link rel="stylesheet" href="/static/tinkoff-style-mobile.css" media="(max-width: 600px)">
    <link rel="stylesheet" href="/static/tinkoff-style-tablet.css" media="(min-width: 601px) and (max-width: 1024px)">
    <link rel="stylesheet" href="/static/tinkoff-style-desktop.css" media="(min-width: 1025px)">
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header-container">
        <section class="header-title">
            <a href="/"> <img class="logo-img" src="/static/img/extrim.png" alt="логотип"></a>

            <div class="button-container">
                {% block nav %}

                {% endblock %}
                <!-- Кнопка для отключения (крестик) -->
                <div class="disconnect-button"><disconnect-button></disconnect-button></div>
            </div>
            <script src="/static/scripts/tinkoff/controls/disconnect-button.js" defer></script>

        </section>

        <section class="content-container" id="content">
            <div id="global-loader" class="content-blocker">
                <div class="loader"></div>
            </div>
            <div id="session-expired-modal" class="content-blocker">
                <div class="modal-content">
                    <p id="redirect-error-text">Сессия на Тинькофф истекла. Пожалуйста, войдите снова.</p>
                    <div class="modal-buttons">
                        <button id="retry-login" class="button-primary">Повторить вход</button>
                        <button id="go-to-expenses" class="button-secondary">К расходам</button>
                    </div>
                </div>
            </div>
            <div id="error-toast" class="error-toast">
                <span>?</span>
            </div>
            <div id="notification-toast" class="notification-toast">
                <span>?</span>
            </div>
            {% block content %}

            {% endblock %}
        </section>

    </header>

    <script src="/static/scripts/script.js"></script>
    <script src="/static/scripts/tinkoff/loader.js" defer></script>
    <script src="/static/scripts/tinkoff/errors.js" defer></script>
    {% block scripts %}

    {% endblock %}
</body>

</html>