<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tinkoff_style.css">
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header-container">
        <section class="header-title">
            <a href="/"> <img class="logo-img" src="/static/img/extrim.png" alt="логотип"></a>

            <!-- Кнопка для отключения (крестик) -->
            <disconnect-button></disconnect-button>
            <script src="/static/scripts/tinkoff/controls/disconnect-button.js" defer></script>

        </section>

        <section class="content-container">
            {% block content %}

            {% endblock %}
        </section>

    </header>

    <script src="/static/scripts/script.js"></script>
    {% block scripts %}

    {% endblock %}
</body>

</html>