h1 {
    font-size: 2rem;
    color: #004080;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    color: #004080;
    margin-bottom: 0.5em;
}

label {
    font-size: 1rem;
    color: #333;
    margin-right: 8px;
}

button {
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003366;
}

#periodButton {
    display: inline-block;
    position: relative;
}

/* Для страницы расходов */
.period-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 140px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    z-index: 1;
}

.period-options button {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
}

.period-options button:hover {
    background-color: #e0f7ff;
}

/* Основной стиль для таблицы расходов */
.expenses-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    margin-top: 1em;
}

.expenses-table th, .expenses-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.expenses-table th {
    background-color: #e0f2ff;
    color: #004080;
}

.expenses-table tr:nth-child(even) {
    background-color: #f3faff;
}

.expenses-table tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Для inputControl */
.input-wrapper {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

/* убирает стрелочки в инпуте числа */
input[type="number"] {
    -webkit-appearance: none; /* Для Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Для Firefox */
    appearance: none; /* Стандартное свойство, если оно поддерживается */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Стили модальных окон */
.modal {
    display: none; /* Скрываем по умолчанию */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
