.button-container {
    display: flex !important;
    align-items: center;
    margin-right: 7%;
    font-size: 12px;
    gap: 20px !important;
    width: 180px;
}

button#loadTinkoffExpenses {
    height: 31px;
    text-wrap-mode: nowrap;
}

.disconnect-button {
    display: flex;
}

/* Для страницы расходов */

/* Основной стиль для таблицы расходов */
.expenses-table {
    width: 98%;
    border-collapse: collapse;
    font-size: 90%;
    margin-top: 2em;
}

/* Для inputControl */
.input-wrapper {
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}