/* Таблица расходов*/
.table-wrapper {
    overflow-y: visible;
    width: 90%;
    position: relative;
    z-index: 0;
}

.table-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.expenses-table {
    border-collapse: collapse;
    width: 100%;
}

.expenses-table th, .expenses-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

.expenses-table thead {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.expenses-table th {
    background-color: #000;
    color: #fff; 
    font-weight: bold;
    text-transform: uppercase; 
}

.expenses-table tbody tr:nth-child(even) {
    background-color: #f0f0f0; 
}

.expenses-table tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

.select2-container {
    width: 95% !important;
}